{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

{{body}}
<section class="discover-europe">
  <h2>DISCOVER EUROPE</h2>

</section>

<section class="book-tour" id="book">
  <form action="/process-resa" method="POST">

    <label>
      When ?
      <input type="date" name="departureDate" value"{{resaItem.departureDate}} "/>
    </label>


    <label>
      Duration ?:
      <input type=" text" name="duration" value"{{resaItem.duration}} "/>

    </label>

    <label>
      How many People?
      <input type=" number" name="quantity" value"{{resaItem.quantity}} "/>
    </label>
{{!-- <a href="/process-resa/">Submit </a> --}}

    <button> Book Your Tour  </button> 
    </form> </section>