{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

{{body}}

<section class="discover-europe">

  <div class="mainBlock">

    <h2>DISCOVER EUROPE</h2>

    <div class="book-tour" id="book">
      <form action="/process-resa" method="POST" class="byt-form bold myForm">
        <div class="byt-container">
          <div class="byt-content myByt">

            When ?
            <input class="byt-input" type="date" name="departureDate" value"{{resaItem.departureDate}}
              "/>
  
    </div>
<div class=" byt-content myByt">
            Duration ?
            <input class=" byt-input" type=" text" name="duration" value"{{resaItem.duration}}
              "/>

 </div>
 <div class=" byt-content myByt">
            People ?

            <input class=" byt-input" type=" number" name="quantity" value"{{resaItem.quantity}}
              "/>
  </div>
 
{{!-- <a href="/process-resa/">Submit </a> --}}
 </div>
    <button class=" byt-btn myBtn">
            Book Your Tour <i class="fa fa-hand-o-right" aria-hidden="true"></i></button>
      </form>

    </div>

  </div>

</section>

<footer></footer>