<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>

<body>
  <div class="nav-container">
    <ul class="nav justify-content-end">

      {{#if currentUser}}
      <b class="nav-link">Wecome Back {{currentUser.lastName}} !</b>
      <li class="nav-item">
        <a class="nav-link a-red bold" href="/">Book Your Tour Now !</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Go Back Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Log Out</a>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="nav-link active" href="/signup"> <i class="fa fa-user-circle" aria-hidden="true"></i>Create an
          Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">My account</a>
      </li>
      {{/if}}
    </ul>
  </div>
  {{!-- <header class="header-homePage">
    <nav class="header">
      <div class="left-header">
        <img src="" alt="LOGO PICTURE">
        <p>NAME of the APPLI</p>
      </div>
      <div class="right-header">
        {{#if currentUser}}
        <b>Wecome Back {{currentUser.lastName}} !</b>


        <a href="/logout" class="a-home">Log Out</a>
        <a href="/#" class="a-home a-red bold">Book Your Tour Now ! </a>
        <a href="/" class="a-home">Go back Home</a>
        {{else}}
        <a href="./signup" class="a-home">Create my account</a>
        <a href="./login" class="a-home">My account</a>
        <a href="/#" class="a-home a-red bold">Book Your Tour Now ! </a>

        <a href="/" class="a-home">Go back Home</a>
        {{/if}}
      </div>
    </nav> --}}


  </header>
  {{{body}}}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>