<section class="itinerary">

  <h2 class="h2-result btn-margin">Your Europe Holiday Itinerary</h2>

  <div class="oneLine">

    {{#each lineArray}}

    <div class="marg-top">
      {{#each this.cities}}
      <div class="line">
        {{this.itinerary}}
      </div>

      <img src="{{this.image}}" alt="image" class="itImage" />

      <div class="marg10">
        <b>
          {{this.hotel}}
        </b>
      </div>
      {{this.visit}}
      {{/each}}

    </div>
    {{/each}}

  </div>

  <h5 class="price">Total Price: {{cost}} € / person</h5>


  </ul>
<<<<<<< HEAD
  <button class="MyBtn-option btn-login btn-margin"> <a href="/resa-views/registration-form.hbs">Go</a> </button>


  </form>
=======
  <button class="MyBtn-option btn-login btn-margin"><a href="/resa-views/registration-form.hbs">go</a></button>

>>>>>>> fb167342ac9b3d296aa4d77ecf6a2b6c561c5529

</section>