<section class="itinerary">

  <h2 class="h2-result btn-margin">Your Europe Holiday Itinerary</h2>

  <div class="oneLine">

    {{#each lineArray}}

    <div class="marg-top">
      {{#each this.cities}}
      <div class="line">
        {{this.itinerary}}
      </div>

      <img src="{{this.image}}" alt="image" class="itImage" />

      <div class="marg10">
        <b>
          <p>Your hotel for tonight: </p>
          {{this.hotel}}
        </b>
      </div>

      <p class="visit">Visit of the day: </p>
      {{this.visit}}
      {{/each}}

    </div>
    {{/each}}

  </div>

  <h5 class="price">Total Price: {{cost}} € / person</h5>


  </ul>
<<<<<<< HEAD

  <button class="MyBtn-option btn-login btn-margin"> <a href="/resa-views/registration-form.hbs">Go</a> </button>
=======
  <button class="MyBtn-option btn-login btn-margin"><a href="/resa-views/registration-form.hbs">let's go</a></button>
>>>>>>> 0acbb69091b8455c65ca48dba5f7aaad78a98b33


</section>