{{!-- <div class="result-container">
  <h2 class="h2-result">You choose to begin your trip on {{resaItem.departureDate}}</h2>
  <p>For{{resaItem.duration}} day's</p>
  <p>And for{{resaItem.quantity}} people</p>
  <p>But from where do you want to start?! </p>
</div> --}}

<div class="startCity">

  <h2 class="h2-result">Choose your start city</h2>

  <div class="list-result-container container">
    <ul class="row list-row">
      {{#each cityArray}}
      <li class="col-lg-3 col-sm-4">
        <div class="list-result-content">
          <h4>{{this.city}}</h4>
          <a href="/resa/{{../resaItem._id}}/city/{{this.city}}">
            <img class=flags src="{{this.flag}}" alt="flag">
          </a>

          <p>departure at {{this.time}}</p>

        </div>
      </li>

      {{/each}}
    </ul>
  </div>

</div>