<h2>Resa result page</h2>



<p> {{resaItem.departureDate}}</p>
<p>{{resaItem.duration}} day's</p>
<p>{{resaItem.quantity}} people</p>


<h2>Choose your City Start</h2>

{{cityArray.City}}

{{#each cityArray}}
<li>
  <img class=flags src="{{this.flag}}" alt="flag">
  <button> {{this.city}}</button>
  {{this.startTime}}


</li>

{{/each}}