<h2>Resa result page</h2>


<div>
  <p> {{resaItem.departureDate}}</p>
  <p>{{resaItem.duration}} day's</p>
  <p>{{resaItem.quantity}} people</p>
</div>

<h2>Choose your City Start</h2>

{{cityArray.City}}

<div class="list-container">
  {{#each cityArray}}
  <li class="list-content">
    {{this.city}}
    <a href="/resa/{{../resaItem._id}}/city/{{this.city}}">
      <img class=flags src="{{this.flag}}" alt="flag">
    </a>

    {{this.time}}


  </li>
  </ul>

  {{/each}}
</div>