<h2>Your Europe Holiday Itinerary</h2>


<ul class="list-container">
  {{#each lineArray}}
  <li class="list-content">

    {{this.name}}

    <ul class="onetour">
      {{#each this.cities}}
      <br>
      {{this.itinerary}}
      <br>
      <img src="{{this.image}}" alt="">
      <br>
      {{this.hotel}}
      <br>
      {{this.visit}}
      {{/each}}

    </ul>

  </li>
</ul>


{{/each}}
Total Price: {{cost}} Euro
</ul>

<button>Awesome!Let's GO</button>

</form>