<h2>Resa result page</h2>


<div class="result-container">
  <p>You choose to begin your trip on {{resaItem.departureDate}}</p>
  <p>For{{resaItem.duration}} day's</p>
  <p>And for{{resaItem.quantity}} people</p>
  <p>But from where do you want to start?! </p>
</div>

<h2>Click your City Start</h2>

{{cityArray.City}}

<div class="list-result-container">
  {{#each cityArray}}
  <ul>
    <li class="list-result-content">
      {{this.city}}
      <a href="/resa/{{../resaItem._id}}/city/{{this.city}}">
        <img class=flags src="{{this.flag}}" alt="flag">
      </a>

      {{this.time}}


    </li>
  </ul>

  {{/each}}
</div>